@import url(http://fonts.googleapis.com/css?family=Molengo)
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz)

/* http://github.com/mikesten/SASS-Tools */
@import '_reset'
@import '_css3'

body
  background-color: #efefef
  font: 100%
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  line-height: 1.125em

h1
  font-size: 30px
  font-family: 'Yanone Kaffeesatz', Helvetica, Arial, serif
  margin-bottom: 70px
  text-shadow: #fff 0px -1px 0px

#header
  font-size: 12px
  margin-bottom: 30px
  padding: 5px 10px
  text-align: right

#root
  width: 640px
  text-align: center
  margin: 0 auto

.title-a
  color: #333

.title-b
  color: #a2a0a1

#quote
  color: #555
  font-size: 45px
  font-family: Molengo
  line-height: 55px
  margin: 0 0 30px 0
  text-shadow: #fff -1px -1px 0px

#author
  color: #888
  padding-right: 30px
  text-align: right

  a
    color: #888

