@import url(http://fonts.googleapis.com/css?family=Molengo)
@import url(http://fonts.googleapis.com/css?family=Vollkorn)

body
  background-color: #efefef
  font: 100%
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height: 1.125em
  text-align: center
  padding-top: 30px

h1
  font-size: 40px
  font-family: Vollkorn, Helvetica, Arial, serif
  margin-bottom: 70px
  text-shadow: #fff 0px -1px 0px

#root
  width: 640px
  margin: 0 auto

.title-a
  color: #333

.title-b
  color: #a2a0a1

#quote
  color: #555
  font-size: 45px
  font-family: Molengo
  line-height: 55px
  margin: 0 0 30px 0
  text-shadow: #fff -1px -1px 0px

#author
  color: #888
  padding-right: 30px
  text-align: right

  a
    color: #888

